@font-face {
    font-family: iAWriterMono;
    src: url('../fonts/iAWriterMonoS-Regular.ttf');
}

html, body {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: iAWriterMono;
    background-color: #95e0ff;
}

.main-container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    margin: 0;
    padding: 0;
    font-size: calc(100% + 5.5vw);
}
/* @media (min-width:320px)  { [> smartphones, iPhone, portrait 480x320 phones <] } */
/* @media (min-width:481px)  { [> portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. <] } */
/* @media (min-width:641px)  { [> portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones <] } */
/* @media (min-width:961px)  { [> tablet, landscape iPad, lo-res laptops ands desktops <] } */
/* @media (min-width:1025px) { [> big landscape tablets, laptops, and desktops <] } */
/* @media (min-width:1281px) { [> hi-res laptops and desktops <] } */

@media (max-width: 30em)  {
    span {
        margin: 0;
        padding: 0;
        font-size: calc(100% + 9vw);
    }
}

#place {
    background-color: #95abff;
}

#ideas {
    background-color: #95ffb4;
}

#explore {
    background-color: #ffb495;
}

#name {
    background-color: #ffe995;
}
